@model AbcHardware.Models.Item

@{
    ViewData["Title"] = "AddItem";
}

<h2>Create</h2>

<h3>Item</h3>
<hr />
@if (TempData.Keys.Contains("Success"))
{
    <div class="alert alert-success">@Html.Raw(@TempData["Success"])</div>
}
<div><span class="alert-danger">@Html.ValidationMessage("CreateItem")</span></div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddItem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ItemCode" class="control-label"></label>
                <input asp-for="ItemCode" class="form-control" />
                <div class="text-danger">@Html.ValidationMessage("ItemCode")</div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <div class="text-danger">@Html.ValidationMessage("Description")</div>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label"></label>
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input asp-for="UnitPrice" class="form-control" />
                </div>
                <div class="text-danger">@Html.ValidationMessage("UnitPrice")</div>
            </div>
            <div class="form-group">
                <label asp-for="QuantityOnHand" class="control-label"></label>
                <input asp-for="QuantityOnHand" class="form-control" />
                <div class="text-danger">@Html.ValidationMessage("QuantityOnHand")</div>
            </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
            <a class="btn btn-default"href="~/Home/Index">Cancel</a>
        </div>
        </form>
    </div>
</div>


