@model AbcHardware.Models.Item

@{
    ViewData["Title"] = "UpdateItem";
}

<h2>UpdateItem</h2>

<h4>Item</h4>
<hr />
<form class="form-inline">
    <div class="row">
        <div class="col-md-5">
            <input class="form-control" type="text" placeholder="Search" name="searchString" />
            <input class="btn btn-default" type="submit" value="Filter" />
            @Html.ActionLink("Show All Items", "UpdateItem", new { /* id=item.PrimaryKey */ })
        </div>
    </div>
</form>

@if (Model == null)
{

    <div class="table-scroll-y custom-scrollbar-Update">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ItemCode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UnitPrice)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.QuantityOnHand)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Discontinued)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Items)
                {
                    <tr>
                        <td>
                            @item.ItemCode
                        </td>
                        <td>
                            @item.Description
                        </td>
                        <td>
                            @item.UnitPriceDisplay
                        </td>
                        <td>
                            @item.QuantityOnHand
                        </td>
                        <td>
                            @item.Discontinued
                        </td>
                        <td>
                            @Html.ActionLink("Select", "UpdateItem", "Item", new { itemCode = item.ItemCode })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@if (Model != null && Model.ItemCode != null)
{
    <div class="row">
        <div class="col-md-4">
            <form asp-action="UpdateItem">

                <div class="form-group">
                    <label asp-for="ItemCode" class="control-label"></label>
                    <input asp-for="ItemCode" class="form-control" readonly="readonly" />

                </div>
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />

                </div>
                <div class="form-group">
                    <label asp-for="UnitPrice" class="control-label"></label>
                    <input asp-for="UnitPrice" class="form-control" />

                </div>
                <div class="form-group">
                    <label asp-for="QuantityOnHand" class="control-label"></label>
                    <input asp-for="QuantityOnHand" class="form-control" />

                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input asp-for="Discontinued" /> @Html.DisplayNameFor(model => model.Discontinued)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
}
<div>
    <a href="~/Home/Index">Back to Home</a>
</div>

