@page
@model cpiershanley1BAIS3150CodeSample.Pages.RemoveStudentModel
@{
    ViewData["Title"] = "RemoveStudent";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/StyleSheet.css" />
</head>

<body>
    <h2>@ViewBag.Title</h2>

    <form asp-page-handler="SearchStudent" name="FindStudentForm" method="post" id="FindStudentForm">
        <input type="text" name="SearchBox" id="SearchBox" />
        <input type="submit" runat="server" name="SearchButton" id="SearchButton" value="Search" /><br /><br />
    </form>
    <form asp-page-handler="DeleteStudent" name="Modify Student">
        <table>
            <tr>
                <td>Student Id:</td>
                <td>
                    <input type="text" name="StudentId" id="StudentId" value="@Model.studentId" readonly />
                </td>
            </tr>
            <tr>
                <td>First Name:</td>
                <td>
                    <input type="text" name="FirstName" id="FirstName" value="@Model.firstName" readonly />
                </td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td>
                    <input type="text" name="LastName" id="LastName" value="@Model.lastName" readonly />
                </td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>
                    <input type="text" name="Email" id="Email" value="@Model.email" readonly />
                </td>
            </tr>
            <tr>
                <td>Program Code:</td>
                <td>
                    <input type="text" name="ProgramCode" id="ProgramCode" value="@Model.programCode" readonly />
                </td>
            </tr>
        </table><br /><br />
        <input type="submit" name="DeleteButton" id="SaveButton" value="Delete" />
    </form><br />
    @Model.Message
    @Html.ValidationSummary();
</body>
</html>

